<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create-tournament</title>
</head>
<body>
    <app-sidebar-organ></app-sidebar-organ>
    <main>
        <h1>Create Tournament</h1>
        <form>
            <fieldset>
                <legend>Information about the tournament organizer</legend>
                <div class="partRow">
                    <div class="partCol">
                        <label>Username</label>
                        <input type="text" placeholder="Ex. username"/>
                    </div>
                    <div class="partCol">
                        <label>First name</label>
                        <input type="text" placeholder="Ex. username"/>
                    </div>
                    <div class="partCol">
                        <label>Last name</label>
                        <input type="text" placeholder="Ex. username"/>
                    </div>
                </div>
                <div class="partRow">
                    <div class="partCol">
                        <label>Phone</label>
                        <input type="text" placeholder="Ex. username"/>
                    </div>
                    <div class="partCol">
                        <label>Email</label>
                        <input type="text" placeholder="Ex. username"/>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Headlines and promotional images</legend>
                <div class="partRow">
                    <div class="partCol">
                        <label>image</label>
                        <input type="text" placeholder="Ex. username"/>
                    </div>
                </div>
                <div class="partRow">
                    <div class="partCol">
                        <label>Tournament Name</label>
                        <input type="text" placeholder="Up to 60 characters in length."/>
                    </div>
                </div>
                <div class="partRow">
                    <div class="partCol">
                        <label>Tournament tagline</label>
                        <textarea placeholder="Explain why your tournament is great and invite people to coming, Up to 300 characters in length."></textarea>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Information and tournament rules</legend>
                <div class="partRow">
                    <div class="partCol">
                        <label>image</label>
                        <input type="text" placeholder="Ex. username"/>
                    </div>
                </div>
                <div class="partRow">
                    <div class="partCol">
                        <label>Location</label>
                        <select></select>
                    </div>
                </div>
                <div class="partRow">
                    <div class="partCol">
                        <label>Number of participants</label>
                        <input type="text" placeholder="Up to 60 characters in length."/>
                    </div>
                    <div class="partCol">
                        <label>Or Unlimited</label>
                        <input type="button"/>
                    </div>
                </div>
                <div class="partRow">
                    <div class="partCol">
                        <label>Registration fee</label>
                        <input type="number" placeholder="In case for free just input 0"/>
                    </div>
                </div>
                <div class="partRow">
                    <div class="partCol">
                        <label>Tournament Rules and Agreements</label>
                        <textarea placeholder="Explain why your tournament is great and invite people to coming, Up to 300 characters in length."></textarea>
                    </div>
                </div>
            </fieldset>
        </form>
    </main>
</body>
</html>