<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SidebarOrgan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="sidebar-organ.component.scss" />
</head>
<body>
    <div class="sidebar">
        <div class="logo"><img src="sutminton_logo.png" alt="logo" width="120px" height="120px"></div>
        <ul class="menu">
            <li class="active">
                <a href="/organize/my-tournament">
                    <i class="bi-house-fill fs-5"></i>
                    <span>My tournament</span>
                </a>
            </li>
            <li>
                <a href="organize/create-tournament">
                    <i class="bi-clipboard-plus-fill"></i>
                    <span>Create tournament</span>
                </a>
            </li>
            <li>
                <a href="/sidebarOrgan">
                    <i class="bi-person-lines-fill fa-2x"></i>
                    <span>My profile</span>
                </a>
            </li>
            <li>
                <a href="/sidebarOrgan">
                    <i class="bi-chat-left-dots-fill fa-2x"></i>
                    <span>Tournament review</span>
                </a>
            </li>
            <li>
                <a href="/sidebarOrgan">
                    <i class="bi-star-fill fa-2x"></i>
                    <span>Membership</span>
                </a>
            </li>
            <li>
                <a href="/sidebarOrgan">
                    <i class="bi-box-arrow-left"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>